<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>健美生</title>
	<link rel="stylesheet" href="../css/shopcar.css">
	<link rel="stylesheet" href="../css/swiper-3.3.1.min.css">
</head>
<body>
	<div class="shopCar_swipe" ng-app="">
	    <div class="swiper-container">
			　　<div class="swiper-wrapper">
			　　　　<div class="swiper-slide"><img src=""></div>
			　　</div>
			　　<!-- 如果需要分页器 -->
　　            <div class="swiper-pagination"></div>
        </div>

	</div>
</body>
   <script src="../lib/jquery-2.1.1.js"></script>
   <script src="../lib/swiper-3.3.1.js"></script>
   <script src="../js/controller/shopcar.js"></script>
   <script type="text/javascript" src="../lib/angular.min.js"></script>

</html>